* {
    box-sizing: border-box;
    font-family: 'Neuton', serif;
    margin: 0;
    padding: 0;
    --primary-color: #A18C71;
    --dark: #333333;
    --light: #666666;
    --text-white: #ffffff;
}

.wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 940px;
    padding: 0 20px;
}

header  {
    background-color: var(--dark);
    color: var(--primary-color);
    padding: 20px 0;  
    border-bottom: 1px solid var(--light);  
}

ul {
    display: flex;
    justify-content: space-between+;
}

li {
    list-style-type: none;
    margin-left: 50px;
}

a {
    text-decoration: none;
}

.nav__anchor {
    color: var(--primary-color);
    font-size: 20px;
    position: relative;
}

.nav__anchor::after {
    background-color: var(--primary-color);
    bottom: -5px;
    left: 0;
    content: '';
    height: 2px;
    position: absolute;
    transform: scaleX(0);
    /* transform-origin: 0 0; */
    transition: transform .2s ease-in-out;
    width: 100%;
}

.image-section {
    background-color: var(--dark);
}

.image-section__image-container {
    overflow: hidden;
    width: 33.3%;
}

.image-section__image {
    align-items: center;
    background: no-repeat 50% / cover;
    display: flex;
    height: 400px;
    justify-content: center;
    padding: 0 20px;
    transition: transform .2s ease-in-out;
}

.image-section__text {
    background: rgba(0, 0, 0, .5);
    color: var(--text-white);
    font-size: 20px;
    opacity: 0;
    text-align: center;
    transform: scale(.8);
    transition: opacity .2s ease-in-out,
                transform .2s ease-in-out;
}

.text-group {

    background-color: var(--light);
}

.text-group__container {
    color: var(--text-white);
    padding: 50px;
}

.text-group__text {
    margin-bottom: 25px;
}

button {
    background: none;
    border: solid 2px var(--dark);
    cursor: pointer;
    font-size: 18px;
    padding:  5px 20px;
    position: relative;
    color: var(--text-white);
    z-index: 1;
}

.button-double {
    margin: 20px 0 0 0;

}

.button-double::after {
    background-color: var(--primary-color); 
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transform-origin: 0 100%;
    transition: transform .2s ease-in-out,
                box-shadow .2s ease-in-out;
    width: 100%;
    z-index: -1;

}

.text-section {
    background-color: var(--light);
    color: var(--text-white);
    border-top: 1px solid var(--primary-color);
    padding: 50px 0;
}

.text-section .wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-section__text {
    margin-bottom: 25px;
    text-align: center;
}

.button-main {
    background-color: var(--light);
}

footer {
    background-color: var(--dark);
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

/* Hover */

.nav__anchor:hover::after {
    transform: scaleX(1);
}

.image-section__image:hover {
    transform: scale(1.1);
}

.image-section__image:hover .image-section__text {
    opacity: 1;
    transform: scale(1);
}

.button-double:hover::after {
    transform: scaleY(1);
    box-shadow: 0 0 8px 5px var(--dark);
}